@import './base.css';

#app {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0rem;

  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: rgb(244, 0, 0);
  transition: 0.4s;
}

@media (min-width: 3024px) {
  body {
    display: flex;
    place-items: top;
    margin-top: 5%;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}